In [53]:
pip install kaggle

Note: you may need to restart the kernel to use updated packages.Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kaggle in c:\users\balasaravanamuthu\appdata\roaming\python\python312\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\programdata\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\programdata\anaconda3\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from kaggle) (2.32.2)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in c:\programdata\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\programdata\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [55]:
import kaggle

In [83]:
#download the retail order dataset from Kaggle API
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to C:\Users\Balasaravanamuthu

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 255kB/s]
100%|##########| 200k/200k [00:00<00:00, 254kB/s]

In [85]:
#path to download the zipfile
zip_file_path = "orders.csv.zip"  #"C:\Users\Balasaravanamuthu\orders.csv.zip"

In [87]:
#extract csv file from zipfile
with zipfile.ZipFile(zip_file_path,'r') as zip_ref:
    zip_ref.extractall()
    zip_ref.close()
print("Extract done")

Extract done

In [89]:
import pandas as pd

In [91]:
#read data from file
csv_file_path = "orders.csv"
df = pd.read_csv(csv_file_path)
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [93]:
#Data cleaning
#renaming columns by convert it to lower case and replace space with character
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [97]:
#remove trailing spaces
df = df.apply(lambda x: x.str.strip() if x.dtype == 'object' else x)

In [101]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [103]:
#derive new columns discount , sale price and profit
df['discount']=df['list_price']*df['discount_percent']*.01
df['sale_price']= df['list_price']-df['discount']
df['profit']=df['sale_price']-df['cost_price']

In [105]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [109]:
#split the data frame into 2 data frame for making it as primary and foreign key
df_orders = df[['order_id','order_date','ship_mode','segment','country','city','state','postal_code','region']]
df_order_details = df[['order_id','category','sub_category','product_id','cost_price','list_price','quantity','discount_percent','discount','sale_price','profit']]

In [111]:
df_orders

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South
...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West

In [113]:
df_order_details

,order_id,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [115]:
#Create database
import mysql.connector
from mysql.connector import Error

def create_database():
    try:
        # Connect to the MySQL server 
        connection = mysql.connector.connect(
            host='localhost',  
            user='root',       
            password='T1e2s3t4'  
        )
        
        if connection.is_connected():
            # Create a cursor object to interact with MySQL
            cursor = connection.cursor()
            
            # Create the new database
            cursor.execute("CREATE DATABASE IF NOT EXISTS Retail_Orders")
            print("Database 'Retail_Orders' created successfully.")
            
    except Error as e:
        print(f"Error while creating database: {e}")
    
    finally:
        # Close the connection
        if connection.is_connected():
            cursor.close()
            connection.close()

# Call the function to create the database
create_database()

Database 'Retail_Orders' created successfully.

In [117]:
#Create 2 tables into mysql
import pymysql

# MySQL connection details
username = 'root' 
password = 'T1e2s3t4'  
database = 'Retail_Orders'  
host = 'localhost'          
port = 3306                

# Connect to MySQL
connection = pymysql.connect(
    host=host,
    user=username,
    password=password,
    database=database,
    port=port
)

# Create cursor object to execute SQL queries
cursor = connection.cursor()

# Create 'orders' table with primary key
create_orders_table = """
CREATE TABLE IF NOT EXISTS orders (
    order_id INT PRIMARY KEY,
    order_date DATE NOT NULL,
    ship_mode VARCHAR(50),
    segment VARCHAR(50),
    country VARCHAR(50),
    city VARCHAR(50),
    state VARCHAR(50),
    postal_code INT,
    region VARCHAR(50)
);
"""

# Create 'products' table with foreign key referencing 'orders' table
create_order_details_table = """
CREATE TABLE IF NOT EXISTS order_details (
    product_id VARCHAR(50),
    order_id INT NOT NULL,
    category VARCHAR(50),
    sub_category VARCHAR(50),
    cost_price DECIMAL(10, 2),
    list_price DECIMAL(10, 2),
    quantity INT,
    discount_percent INT,
    discount INT,
    sale_price DECIMAL(10, 2),
    profit INT,
    FOREIGN KEY (order_id) REFERENCES orders(order_id) 
        ON DELETE CASCADE
        ON UPDATE CASCADE
);
"""

try:
    # Execute the SQL statements to create tables
    cursor.execute(create_orders_table)
    cursor.execute(create_order_details_table)
    
    # Commit changes
    connection.commit()

    print("Tables created successfully with primary and foreign key constraints.")
except Exception as e:
    print(f"Error: {e}")
    connection.rollback()
finally:
    # Close the connection
    cursor.close()
    connection.close()

Tables created successfully with primary and foreign key constraints.

In [119]:
#Load the 2 dataframe into corresponding tables in mysql
import pandas as pd
from sqlalchemy import create_engine

try:
    username = "root"
    password = "T1e2s3t4"
    host = "localhost"
    port = "3306"
    database = "Retail_Orders"
    connection_string = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"

    engine = create_engine(connection_string)
    # Insert 'orders' DataFrame
    df_orders.to_sql('orders', con=engine, if_exists='append', index=False)
    
    # Insert 'order details' DataFrame
    df_order_details.to_sql('order_details', con=engine, if_exists='append', index=False)
    
    print("DataFrames inserted into MySQL successfully!")
except Exception as e:
    print(f"Error occurred: {e}")

DataFrames inserted into MySQL successfully!